# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
yarn.lock

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ios
xcuserdata/
ios/Pods
ios/build
ios/Podfile.lock

# android
android/**/.settings
android/**/.classpath
android/**/.project
android/.gradle
android/app/build
android/build

# fastlane
fastlane/report.xml
fastlane/screenshots/*/*.png
fastlane/screenshots/screenshots.html

# ruby
.bundle
vendor/bundle

# Test
__snapshots__
coverage
