ENV["SLACK_URL"] = 
ENV["GITHUB_API_TOKEN"] = 
ENV["CRASHLYTICS_API_TOKEN"] = 
ENV["CRASHLYTICS_BUILD_SECRET"] = 
ENV["TEAM_ID"] = 
ENV["APPLE_ID"] = 
ENV["SIGH_USERNAME"] = ENV["APPLE_ID"]
ENV["DELIVER_USERNAME"] = ENV["APPLE_ID"]
ENV['DELIVER_ITMSTRANSPORTER_ADDITIONAL_UPLOAD_PARAMETERS'] = "-t DAV"
ENV["FASTLANE_ITC_TEAM_NAME"] = 
ENV['FASTLANE_ITUNES_TRANSPORTER_USE_SHELL_SCRIPT'] = "1"
ENV["FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD"] = 